@import "tailwindcss";

/* Hides Netlify badge element or iframe */
iframe[src*="netlify"],
[class*="netlify"] {
  display: none !important;
}

/* .home{
  background-image: url('/Chido.png');
  background-size: cover;
  background-position: center;
} */